@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	font-family: 'Poppins', sans-serif;
}

.btn {
	@apply font-medium h-50 shadow-md bg-sky-600 text-white px-20 flex items-center
}

.form-group {
	.form-input {
		@apply px-10 h-50 min-w-100
	}
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.loader {
	font-size: 5px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid #0369a1;
	border-right: 1.1em solid #0369a1;
	border-bottom: 1.1em solid #0369a1;
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
