<div *ngIf="!(weatherForDaily$ | async)?.length">
	<p class="text-sky-900 font-18">No daily weather forecast data yet.</p>
</div>

<div *ngIf="(weatherForDaily$ | async) as weatherForDaily">

	<h3 class="text-20 font-bold my-15">Temperature</h3>

	<table class="border-separate border border-gray-400" *ngIf="weatherForDaily && weatherForDaily.length">
		<thead>
		<tr class="bg-sky-900 text-white">
			<th class="border border-gray-300">City Name</th>
			<th class="border border-gray-300" *ngFor="let day of weatherForDaily[0].weather">{{ day.dt * 1000 | date : 'M/d' }}</th>
		</tr>
		</thead>
		<tbody>
		<tr class="bg-sky-200" *ngFor="let city of weatherForDaily">
			<td class="border border-gray-300">{{ city.id }}</td>
			<td class="border border-gray-300" *ngFor="let item of city.weather">
				<div>
					<p><span>Morning: </span><span>{{ item.temp.morn }}°C</span></p>
					<p><span>Day: </span><span>{{ item.temp.day }}°C</span></p>
					<p><span>Evening: </span><span>{{ item.temp.eve }}°C</span></p>
					<p><span>Night: </span><span>{{ item.temp.night }}°C</span></p>
					<p><span>Min: </span><span>{{ item.temp.min }}°C</span></p>
					<p><span>Max: </span><span>{{ item.temp.max }}°C</span></p>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div *ngFor="let city of weatherForDaily$ | async">
	<h3 class="text-20 font-bold my-15">{{ city.id }}</h3>

	<table class="border-separate border border-gray-400">
		<thead>
		<tr class="bg-sky-900 text-white">
			<th class="border border-gray-300">Time</th>
			<th class="border border-gray-300"></th>
			<th class="border border-gray-300">Weather</th>
			<th class="border border-gray-300">Sun</th>
			<th class="border border-gray-300">Moon</th>
			<th class="border border-gray-300">Temp</th>
			<th class="border border-gray-300">Feel</th>
			<th class="border border-gray-300">Pressure</th>
			<th class="border border-gray-300">Humidity</th>
			<th class="border border-gray-300">Atmo Temp</th>
			<th class="border border-gray-300">Clouds</th>
			<th class="border border-gray-300">Wind Speed</th>
			<th class="border border-gray-300">Wind Gust</th>
			<th class="border border-gray-300">UV</th>
			<th class="border border-gray-300">Rain</th>
			<th class="border border-gray-300">Snow</th>
		</tr>
		</thead>
		<tbody>
		<tr class="bg-sky-200" *ngFor="let item of city.weather">
			<td class="border border-gray-300">{{ item.dt * 1000 | date : 'shortDate' }}</td>
			<td class="border border-gray-300">
				<div><img width="30" height="30" src="http://openweathermap.org/img/wn/{{ item.weather[0].icon }}.png" alt="Weather icon"></div>
			</td>
			<td class="border border-gray-300">{{ item.weather[0].description }}</td>
			<td class="border border-gray-300">
				<div>
					<p><span>Rise: </span><span>{{ item.sunrise * 1000 | date : 'shortTime' }}</span></p>
					<p><span>Set: </span><span>{{ item.sunset * 1000 | date : 'shortTime' }}</span></p>
				</div>
			</td>
			<td class="border border-gray-300">
				<div>
					<p><span>Rise: </span><span>{{ item.moonrise * 1000 | date : 'shortTime' }}</span></p>
					<p><span>Set: </span><span>{{ item.moonset * 1000 | date : 'shortTime' }}</span></p>
				</div>
			</td>
			<td class="border border-gray-300">
				<div>
					<p><span>Morning: </span><span>{{ item.temp.morn }}°C</span></p>
					<p><span>Day: </span><span>{{ item.temp.day }}°C</span></p>
					<p><span>Evening: </span><span>{{ item.temp.eve }}°C</span></p>
					<p><span>Night: </span><span>{{ item.temp.night }}°C</span></p>
					<p><span>Min: </span><span>{{ item.temp.min }}°C</span></p>
					<p><span>Max: </span><span>{{ item.temp.max }}°C</span></p>
				</div>
			</td>
			<td class="border border-gray-300">
				<div>
					<p><span>Morning: </span><span>{{ item.feels_like.morn }}°C</span></p>
					<p><span>Day: </span><span>{{ item.feels_like.day }}°C</span></p>
					<p><span>Evening: </span><span>{{ item.feels_like.eve }}°C</span></p>
					<p><span>Night: </span><span>{{ item.feels_like.night }}°C</span></p>
				</div>
			</td>
			<td class="border border-gray-300">{{ item.pressure }}hPa</td>
			<td class="border border-gray-300">{{ item.humidity }}%</td>
			<td class="border border-gray-300">{{ item.dew_point }}°C</td>
			<td class="border border-gray-300">{{ item.clouds }}%</td>
			<td class="border border-gray-300">{{ item.wind_speed }}m/s</td>
			<td class="border border-gray-300">{{ item.wind_gust }}m/s</td>
			<td class="border border-gray-300">{{ item.uvi }}</td>
			<td class="border border-gray-300">{{ item.rain ? item.rain + 'mm' : 'N/A' }}</td>
			<td class="border border-gray-300">{{ item.snow ? item.snow + 'mm' : 'N/A' }}</td>
		</tr>
		</tbody>
	</table>
</div>
