<form [formGroup]="form" (ngSubmit)="search()">
	<input formControlName="city">
	<select formControlName="forecastMode">
		<option [value]="ForecastMode.Daily">Daily</option>
		<option [value]="ForecastMode.Hourly">Hourly</option>
	</select>
	<button>Search</button>
</form>

<div *ngIf="form.value.forecastMode === ForecastMode.Daily">
	<div *ngFor="let city of weatherForDaily$ | async">
		<span>{{ city.id }}</span>:
		<span>{{ city?.weather | json }}</span>
	</div>
</div>

<div *ngIf="form.value.forecastMode === ForecastMode.Hourly">
	<div *ngFor="let city of weatherForHourly$ | async">
		<span>{{ city.id }}</span>:
		<span>{{ city?.weather | json }}</span>
	</div>
</div>
